body
{
    background-color: #252523;
    width: 100%;
    height: 100%;
}

.material-symbols-rounded {
     color: white;
}

.group-acceuil-right span {
    position: relative;
    top: 0.5rem;
    right: 1rem;
    font-size: xx-large;
}

.nav-group-acceuil {
    display: inline-flex;
    flex-direction: row;
    background-color: #252523;
    width: 100%;
}

.group-acceuil-right {
    display: flex;
    justify-content: end;
}

.group-acceuil-center {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
}

.group-acceuil-right .nav-acceuil-item-catalogue {
    position: relative;
    right: 4rem;
    display: inherit;
}

.group-acceuil-right a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0 1rem;
}

/**
    * Search in the catalogue
 */

.main-catalogue {
    display: inline-flex;
    background: #ffffff;
}

.main-signin {
    display: block;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.main-catalogue .search-group-catalogue {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-content: start;
    padding: 1rem;
    border: 1px solid #252523;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 10px -5px black;
}

.main-catalogue .search-group-catalogue .material-symbols-rounded {
    position: relative;
    right: 13.5rem;
    top: 0.3rem;
    color: black;
}

.main-catalogue .search-form input {
    padding-left: 2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    transition: all 0.5s;
    box-shadow: 1px 1px 10px -3px black;
}

.main-catalogue .search-form input:focus {
    box-shadow: 1px 1px 6px black;
}

.main-catalogue .search-group-catalogue button {
    position: relative;
    bottom: 0.2rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #454542;
    color: white;
    font-size: 1rem;
    transition: all 0.3s;
    box-shadow: 1px 1px 10px -3px black;
}

.main-catalogue .search-group-catalogue button:hover {
    font-size: 1.1rem;
    border: 2px solid #ffffff;
}

.main-catalogue .search-group-catalogue button:focus {
    font-size: 0.9rem;
}

/**
    * Catalogue
 */

.main-catalogue .catalogue-page {
    display: inline-flex;
    flex-direction: row;
}

.main-catalogue .catalogue-page button {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #454542;
    color: white;
    font-size: 1rem;
    transition: all 0.3s;
    box-shadow: 1px 1px 10px -3px black;
    margin: 0.5rem;
}

.main-catalogue .group-button-produit-catalogue {
    display: inline-flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
}

.main-catalogue .group-produit-catalogue {
    display: grid;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
}

.item-produit-catalogue img {
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

.main-catalogue .img-item-catalogue {
    overflow: hidden;
}

.main-catalogue .item-produit-catalogue {
    display: inline-flex;
    height: 25rem;
    flex-direction: column;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 2px 2px 10px black;
    color: black;
    text-transform: uppercase;
    padding: 0.5rem;
}

.main-catalogue .hidden {
    display: none;
}

.main-catalogue .item-produit-catalogue > a {
    text-decoration: none;
    color: black;
    position: relative;
    left: 0.1rem;
    top: 0.5rem;
    padding: 1rem;
}

/**
    * Sign in
 */

.div-form-log {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.liste-commandes
{
    display: block;
}

/**
    * Commande
 */
.item-commande,
.item-utilisateur,
.infos-utilisateur
{
    background-color: #252523;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px -5px black;
    margin: 1rem;
    padding: 1rem;
}

.item-produit-commande
{
    background-color: #fff;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 10px -5px black;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.item-produit-commande > img
{
    width: 10rem;
    height: 10rem;
}

.infos-utilisateur
{
    max-width: 800px;
    margin: auto;
}

/**
    * Sign in
 */
main .form-group {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem 4rem 4rem;
}

main .title {
    margin-bottom: 2rem;
    font-size: 2rem;
}

main .form-item {
    width: 100%;
    display: flex;
    position: relative;
}

main .form-item input {
    width: 100%;
    padding: 1rem 1rem 1rem calc(1rem * 3.6);
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: rgba(141, 141, 141, 0.6);
    text-align: left;
    color: black;
    transition: background-color 0.5s;
    animation: ease 0.5s growUp;
}

main .form-item input:focus {
    background-color: #5b5b5b;
}

main .form-item input:hover{
    background-color: #5b5b5b;
}

main .form-item-other button:hover {
    background-color: #5b5b5b;
    color: white;
}

main .form-item-other {
    width: 100%;
    margin-top: 1rem;
}

main .form-item-other a {
    text-decoration: underline;
    color: black;
}

main .form-item-other button{
    margin-top: 20px;
    background: black;
    width: 100%;
    padding: 1rem;
    color: #c7c7c7;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

main .form-item span:hover {
    font-size: xx-large;
    top: 0.5rem;
    left: 1.3rem;
}

main .form-item span {
    position: absolute;
    top: 0.87rem;
    left: 1.5rem;
    cursor: default;
    transition: all 0.1s ease-in-out;
    animation: ease 0.5s slideIn;
}

/**
    * Sign up
 */

main .double-form-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

main .double-form-item span:hover {
    font-size: xx-large;
    top: 0.5rem;
    left: 1.3rem;
}

main .double-form-item span {
    position: absolute;
    top: 0.87rem;
    left: 1.5rem;
    cursor: default;
    transition: all 0.1s ease-in-out;
    animation: ease 0.5s slideIn;
}

main .double-form-sous-item {
    width: 100%;
    position: relative;
}

main .double-form-sous-item input:hover {
    background-color: #5b5b5b;
}

main .double-form-sous-item input:focus {
    background-color: #5b5b5b;
}

main .double-form-sous-item input {
    width: 98%;
    padding: 1rem 1rem 1rem calc(1rem * 3.6);
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: rgba(141, 141, 141, 0.6);
    text-align: left;
    color: black;
    transition: background-color 0.5s;
    animation: ease 0.5s growUp;
}
