body
{
    background-color: #252523;
}

.material-symbols-rounded {
     color: white;
}

.group-acceuil-right span {
    position: relative;
    top: 0.5rem;
    right: 1rem;
    font-size: xx-large;
}

.nav-group-acceuil {
    display: inline-flex;
    flex-direction: row;
    background-color: #252523;
    width: 100%;
}

.group-acceuil-right {
    display: flex;
    justify-content: end;
}

.group-acceuil-center {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
}

.group-acceuil-right .nav-acceuil-item-catalogue {
    position: relative;
    right: 4rem;
    display: inherit;
}

.group-acceuil-right a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0 1rem;
}


